.Order{
    background-color: cyan;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid black;
    margin: 1%;
}

.ProductOrderFunc{
    background-color: rgb(216, 210, 210);
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: right;
    &__btn{
        border-radius: 3px;
        border: 2px solid #554455;
        padding: 5px;
        margin: 0 10px;
        font-size: 20px;
        &:hover{
            opacity: 0.4;
            cursor: pointer;
        }
    }
}

.ProductOrderStatus{
    background-color: coral;
    padding: 10px;
    margin: 10px;
    display: flex;
    position: relative;
    &__item{
        width: 50%;
    }
    &__title{
        font-size: 24px;
    }
    &__id{
        font-size: 14px;
    }
    &__price{
        font-size: 26px;
    }
    &__descr{
        font-size: 16px;
        width: 95%;
    }
    &__img{
        width: 100%;
        height: auto;
    }
    &__chosen{
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 80px;
        height: 80px;
    }
    &__none{
        display: none;
    }
}